<!-- error.ejs -->

<div id="error-popup">
    <div id="error-content">
        <span id="close-error">&times;</span>
        <h2>Error</h2>
        <p><%= message %></p>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="/public/css/popup.css"> <!-- Link to your external CSS file -->
<script type="text/javascript" src="/public/js/popup.js"></script> <!-- Link to your external JavaScript file -->
