/* homepage.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #C7BEF3; /* Purple background */
    color: #252323; /* Text color on the purple background */
    margin: 0;
    padding: 0;
}

#header {
    background-color: #C7BEF3; /* Slightly transparent purple background */
    padding: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img {
    max-width: 100px; /* Adjust the logo size as needed */
}

h1 {
    font-size: 24px;
}

#search-bar {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#search-input {
    width: 60%;
    padding: 10px;
    margin: 0 10px;
}

#search-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/* Add styles for the music cards (recently listened and recommendations) */

#navigation {
    background-color: #C7BEF3; /* Slightly transparent purple background */
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}


ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline;
    margin: 0 20px;
}

#recommended-songs,
#trending-songs {
    padding: 60px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.song-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

.song-card {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.song-card img {
    max-width: 100%;
    height: auto;
}

        /* Add some styling for the floating music player */
        #music-player {
            position: fixed;
            bottom: 0;
            left: 20;
            width: 80%;
            background-color: #33333300;
            color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px;
            padding-left: 10;
            opacity: 1;
            transition: opacity 0.8s;
            z-index: 1;
        }

        /* Style the audio player controls */
        #audio-player {
            width: 100%;
        }
/* Additional styling can be added as needed */
